alembic
beautifulsoup4
click
fastapi
httpx
hyperlink
Jinja2
lxml
Mako
nltk
numpy
Pillow
psycopg2
pydantic
PyDispatcher
PyJWT
PyMySQL
pyOpenSSL
pyparsing
python-dotenv
regex
requests
Scrapy
SQLAlchemy
starlette
transformers
Twisted
urllib3
uvicorn
w3lib
websockets
passlib
python-jose>=3.0.0
python-multipart
bcrypt
